.header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28; 
    color:  rgb(31, 41, 107); 
    text-align: center;

}
#aboutme {
    font-size: 20; 
    text-align: justify;
}
.title{
    font-size: 24; 
    font-weight: bold;
    text-align: left; 
    text-indent: 0.5cm;
}
.subtitle{
    font-size: 22;
    font-weight: bold;
    text-align: left;
    text-indent: 0.2cm;
}
.text{
    font-size: 20;
    text-align: left;
    text-indent: 0.5cm;
}
