.header {
    font-size: 28; 
    color: #692e85c5; 
    text-align: center;
}
#aboutme {
    font-size: 20; 
    text-align: justify;
}
.title{
    font-size: 24; 
    font-weight: bold;
    text-align: left; 
    text-indent: 0.5cm;
}
.subtitle{
    font-size: 22;
    font-weight: bold;
    text-align: left;
    text-indent: 0.2cm;
}
.exptext{
    font-size: 20;
    text-align: left;
    text-indent: 0.5cm;
}